
.all_container {
    max-width: 640px;
    min-width: 270px;
    /* height: 2000px; */
    margin: 0 auto;
}

.transparent {
    opacity: 0;
}
.title {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}
.jump_arrow {
    position: absolute;
    top: 25px;
    right: 35px;
    width: 10px;
    height: 30px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.jump_arrow img {
    width: 10px;
    height: 30px;
}

.section {
    margin-top: 100px;
    position: relative;
}