

@media (min-width: 762px) {
    body header .header_wrap .logo_wrap {
        width: 240px;
        height: 40px;
        background-size: 240px 40px;
    }

    .KeyVisualScroll-link {
        width: 50px;
        height: 70px;
    }
    .KeyVisualScroll-text {
        width: 20px;
        height: 54px;
        background-size: 20px 54px;
    }
    .KeyVisualScroll-arrow {
        width: 20px;
        height: 74px;
        background-size: 20px 74px;
    }
}